html, body {
    background: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Monserrat-Bold,Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.header {
    background: url("../images/header-bg.png") center center no-repeat;
    width: 100%;
    height: 1000px;
    position: relative;
}
.header-cover {
    background: -webkit-linear-gradient(top, #e68082 0%, #eed889 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: .9;
}
.col-xl{
    position: relative;
    z-index: 1;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.main-logo{
    height: 65px;
    width: 86px;
    display: inline-block;
    background: url("../images/logo.png") center center no-repeat;
    text-indent: -9999px;
}
.nav {
    height: 65px;
    margin-bottom: 130px;
}
.main-nav {
    float: right;
    margin-top: 28px;
}
.main-nav  li.act{
    color: #fce38a;
}
.main-nav li.act:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: #fce38a;
}
.main-nav li {
    display: inline-block;
    font-family: Monserrat-Reg, Helvetica, sans-serif;
    position: relative;
    color: #ffffff;
    font-size: 14px;
}
.main-nav li+li {
    margin-left: 55px;
}
.title{
    padding: 40px 150px 0;
    text-align: center;
    color: #fff;
    line-height: .95;
}
.additional-ttl {
    font-family: Kaushan;
    font-size: 72px;
    margin-bottom: 40px;
}
.title h1{
    font-size: 150px;
    margin-bottom: 120px;
    position: relative;
}
.title h1:after{
    content: "";
    width: 60px;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: -55px;
    left: 50%;
    margin-left: -30px;

}
.title .btn{
    padding: 10px 30px;
    border: 3px solid #fff;
    font-family: Monserrat-Bold, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.slider-list{
    margin-top: 165px;
    width: 100%;
    height: 73px;
    display: table;
    vertical-align: middle;
    table-layout: fixed;
}
.slider-list li{
    display: table-cell;
    width: 25%;
    vertical-align: middle;
}
.slider-list li+li {
    padding-left: 30px;
}
.slider-list p {
    font-size: 18px;
    font-family: Monserrat-Reg, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 67px;
    border-top: 3px solid #ffffff;
    color: #ffffff;
    opacity: .7;
    position: relative;
}
.slider-list b{
    font-size: 24px;
}
.slider-list li.act p{
    opacity: 1;
}
.slider-list li.act p:before{
    position: absolute;
    top: -3px;
    left: 0;
    content: "";
    display: block;
    height: 3px;
    width: 70px;
    background: #f38181;
}
section .col-xl {
    padding: 90px 0;
}
section .title {
    padding-top: 0;
    color: #000000;
    margin-bottom: 90px;
}
section .additional-ttl {
    font-size: 24px;
    margin-bottom: 20px;
}
section h2 {
    font-size: 30px;
    position: relative;
}
section h2:after {
    content: "";
    width: 60px;
    height: 3px;
    background: #f38181;
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -30px;
}
.desc {
    color: #999999;
    padding: 0 120px;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 95px;
}
.center {
    text-align: center;
}


.about {
    display: table;
    width: 100%;
    table-layout: fixed;

}
.about .item {
    display: table-cell;
    width: 33.3333333%;
    padding: 0 15px;
    vertical-align: top;
}
.about .item .inner {
    position: relative;
    background: #95e1d3;
}
.about .item:first-child .inner:after{
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background: url("../images/users.png") no-repeat center, -webkit-linear-gradient(top, rgba(230,128,130,0.9) 0%, rgba(238,216,137,0.9) 100%);
}

.about .item:hover .inner:after,
.about .item:hover img {
    top: -10px;
    left: -10px;
}
.about .item:hover .inner:after{
    opacity: 1;
}
.about .item img {
    vertical-align: top;
    width: 100%;
    height: auto;
    position: relative;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    top: 0;
    left: 0;
}


.stat {
    background: #95e1d3;
    font-family: "monserrat-reg";
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.stat .col-xl{
    display: table;
    table-layout: fixed;
    vertical-align: middle;
    padding: 0;
}
.stat .col-xl div{
    width: 20%;
    display: table-cell;
    padding: 80px 0 85px;
    color: #fff;
}
.stat .col-xl div + div {
    border-left: 1px solid #b5eae0;
}
.stat .num {
    font-size: 72px;
    font-family: "monserrat-bold";
    line-height: 1;
    margin-bottom: 15px;
}
.services{
}
.services-row{
    display: table;
    width: 100%;
    vertical-align: middle;
    table-layout: fixed;
}
.services-row+.services-row{
    border-top: 1px solid #e5e5e5;
}
.services-item{
    display: table-cell;
    width: 33.333%;
    vertical-align: middle;
    padding: 50px 0 50px 90px;
    background-size: 400px 32px;
    position: relative;
}
.services-item .icon {
    background: url("../images/services.png") no-repeat 0 0;
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    top: 52px;
    left: 29px;
}
.services-item .ttl{
    font-family: "monserrat-reg";
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 15px;
}
.services-item p {
    font-size: 13px;
    color: #999;
}
.services-item.photo .icon{
    background-position: 0 0;
}
.services-item.design .icon{
    background-position: -33px 0;
}
.services-item.creative .icon{
    background-position: -66px 0;
}
.services-item.seo .icon{
    background-position: -99px 0;
}
.services-item.css .icon{
    background-position: -132px 0;
}
.services-item.digital .icon{
    background-position: -166px 0;
}

.feauture {
    background: url("../images/feauture-bg.png") no-repeat center;
    height: 850px;
}
.feauture .col-xl {
    min-height: 100%;
    height: auto;
}
.feauture .ipad {
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 0;
    width: 477px;
    height: 584px;
    margin: 0 auto;
    background: url("../images/ipad.png") no-repeat center;
}
.feauture .iphone {
    position: absolute;
    bottom: 115px;
    left: 0;
    right: 0;
    width: 224px;
    height: 477px;
    margin: 0 240px auto auto;
    background: url("../images/iphone.png") no-repeat center;
}
.services .services-photo,
.services .services-list {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 30px;
    width: 50%;
}
.services .services-photo{
    padding-right: 30px;
}
.services .services-photo img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.services-list .photography,
.services-list .creativity,
.services-list .webdesign {
    border: 1px solid #e5e5e5;
    position: relative;

}
.services-list div + div {
    margin-top: 10px;
}
.services-list h3 {
    font-size: 14px;
    font-family: "monserrat-reg",Helvetica,sans-serif;
    font-weight: normal;
    padding: 20px 60px;
}
.services-list .desc {
    padding: 20px 40px 20px 20px;
    margin: 0;
    border-top: 1px solid #e5e5e5;
    font-style: italic;
    display: none;
}

.services-list .act .desc {
    display: block;
}
.services-list .icon {
    background: url("../images/services-2nd.png") no-repeat 0 0;
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    top: 14px;
    left: 14px;
}
.services-list .photography .icon {
    background-position: 0 0;
}
.services-list .creativity .icon {
    background-position: -30px 0;
}
.services-list .webdesign .icon {
    background-position: -62px 0;
}

.services-list .toggle-btn {
    position: absolute;
    background: url("../images/arr-up.png") no-repeat center;
    width: 22px;
    height: 12px;
    display: block;
    top: 22px;
    right: 20px;
}
.services-list .act .toggle-btn {
    background: url("../images/arr-down.png") no-repeat center;
}
#map {
    min-height: 100%;
    height: 200px;
}
.map {
    background-color: #f6f6f7;
    -ms-filter: saturate(5%);
    filter: saturate(5%);
    -webkit-filter: saturate(5%);
}
